body {
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  background-color: rgb(50, 167, 145);
  padding: 10px;
  align-items: center;
}

header form {
  display: flex;
  align-items: center;
  margin-left: auto;
}

main {
  display: flex;
}

main form {
  display: flex;
  width: 675px;
  flex-direction: column;
}

div {
  display: flex;
}

#trybewarts-forms-logo {
  height: 500px;
}

#family , #check , #nota {
  flex-direction: column;
  align-items: flex-start;
}

#family div {
  flex-direction: row;
}

#check div , #nota div {
  flex-direction: row;
}

#text-area , .textarea {
  display: flex;
  flex-direction: column;
}

#form-data {
  display: none;
  list-style: none;
}
